<html>
    <head>
        <title>ToDo List</title>
    </head>
    <body>
        <div class='form'>
            <form method='POST' action=''>
                <table border=1>
                <tr><th>ID</th><th>Task</th><th>Status</th><th>Complete</th><th>Incomplete</th><th>Delete</th></tr>
                {% for td in index_list %}
                    <tr>
                        <td><a href="update/{{ td.ID }}"> {{ td.ID }} </a> </td>
                        <td> {{ td.Task }} </td>
                        <td align=center> {% if td.Complete %}&#9989{% endif %} </td>
                        <td><a href="complete/{{ td.ID }}">Complete</a></td>
                        <td><a href="uncomplete/{{ td.ID }}">Incomplete</a></td>
                        <td><a href="delete/{{ td.ID }}">Delete</a></td>
                    </tr>
                </p>
                {% endfor %}
                </table>
                <a href="addtask">Add New Task</a>
            </form>
        </div>
    </body>
</html>